@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* --bg: #f8fafc; */
  --bg: #f5f5f5;
  --name: #000;
  /* --text: #0f172a; */
  --text: #2b2b2b;
  --card: #ffffff;
  --border: #e2e8f0;
  --link: #2563eb;
  --skill-bg: #e2e8f0;
  --skill-text: #0f172a;
  --frontend: #2563eb;
  --backend: #16a34a;
  --tools: #7c3aed;
}

[data-theme="dark"] {
  --bg: #0f172a;
  --text: #f8fafc;
  --name: #f8fafc;
  --card: #1e293b;
  --border: #334155;
  --muted: #94a3b8;
  --link: #60a5fa;
  --skill-bg: #334155;
  --skill-text: #f8fafc;
  --frontend: #2563eb;
  --backend: #4ade80;
  --tools: #a78bfa;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: "Inter", sans-serif;
}

.name {
  color: --name;
}
.resume-container {
  max-width: 900px;
  margin: 40px auto;
  background-color: var(--card);
  padding: 48px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.header {
  text-align: center;
  margin: 48px;
}

.header h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

.header h2 {
  font-size: 1.2rem;
  color: #475568;
  margin-top: 6px;
}

.header-top {
  display: flex;
  justify-content: flex-end;
}

.header .name {
  color: var(--name);
}

.section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 1.4rem;
  font-weight: 600;
  border-bottom: 2px solid var(--border);
  padding-bottom: 6px;
  margin-bottom: 16px;
}
.skill-group {
  margin-bottom: 24px;
}

.skill-group-title {
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--muted);
}
.skill {
  position: relative;
  padding: 6px 14px;
  font-size: 0.85rem;
  font-weight: 500;
  background-color: var(--skill-bg);
  color: var(--skill-text);
  border: 1px solid var(--border);
  border-radius: 999px;
  cursor: default;
  transition: all 0.2s ease;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skill-frontend {
  border-left: 4px solid var(--frontend);
}

.skill-backend {
  border-left: 4px solid var(--backend);
}

.skill-tools {
  border-left: 4px solid var(--tools);
}

.skill:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

/* .skill {
  background: var(--skill-bg);
  color: var(--skill-text);
  border: 1px solid var(--border);
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 0.85rem;
  font-weight: 500;
} */

.skill::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--card);
  color: var(--text);
  padding: 6px 10px;
  font-size: 0.75rem;
  border-radius: 6px;
  border: 1px solid var(--border);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
}
.skill:hover::after {
  opacity: 1;
}
.projects {
  display: grid;
  gap: 20pxf;
}

.project-card {
  background: var(--card);
  border: 1px solid var(--border);
  padding: 20px;
  border-radius: 10px;
}

.project-links a {
  color: #2563eb;
  text-decoration: none;
  margin-right: 12px;
  font-size: 0.85rem;
}

.item span {
  font-size: 0.85rem;
}

.header h2,
.item span,
.header p {
  color: var(--muted);
}
.print-button {
  background: var(--card);
  color: var(--text);
  border: 1px solid var(--border);
  padding: 6px 12px;
  border-radius: 0.85rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.print-button:hover {
  background: var(--skill-bg);
}

.contact a {
  margin-right: 16px;
  color: var(--link);
  text-decoration: none;
}

.theme-toggle {
  background: transparent;
  border: 1px solid #e2e8f0;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
}
.theme-toggle:hover {
  background: #e2e8f0;
}

.item ul {
  margin-top: 8px;
  padding-left: 18px;
}

.item li {
  font-size: 0.9rem;
  margin-bottom: 7px;
  color: var(--text);
}

@media print {
  .theme-toggle,
  .print-button {
    display: none;
  }
  body {
    background: white;
  }

  .resume-container {
    box-shadow: none;
    padding: 0;
    margin: 0;
  }

  .header {
    margin: 10px;
  }
}
@media (max-width: 768px) {
  .resume-container {
    padding: 24px;
  }
}
